## import('pwr')
import('Rcmdr')

## The next package is required to build vignettes
import('rmarkdown')

importFrom('qicharts2', 'paretochart')
importFrom('randtests', randtest.runs.test = 'runs.test')
importFrom('splithalfr', 'spearman_brown')
importFrom('TeachingDemos', 'sigma.test')
importFrom('tcltk', 'tkbutton')
importFrom('tseries', tseries.runs.test = 'runs.test')

### Models
export('input2predict')
export('predict4dataset')

### Quality control
import('IQCC')
import('qcc')
export('cchart1Menu')
export('cchart2Menu')
export('cchartpMenu')
export('npchart1Menu')
export('npchart2Menu')
export('npchartpMenu')
export('paretochartMenu')
export('pchart1Menu')
export('pchart2Menu')
export('pchartpMenu')
export('R1mcMenu')
export('R2mcMenu')
export('RpmcMenu')
export('S1mcMenu')
export('S2mcMenu')
export('SpmcMenu')
export('uchart1Menu')
export('uchart2Menu')
export('uchartpMenu')
export('xbar1mcMenu')
export('xbar2mcMenu')
export('xbarpmcMenu')
export('xbarone1Menu')

### Psychometry
## import('CTT')
import('psych')
import('splithalfr')
## importFrom('CTT', 'spearman.brown')
importFrom('psych', 'guttman')
importFrom('psychometric', 'alpha')
importFrom('psychometric', 'alpha.CI')
importFrom('psychometric', 'item.exam')
importFrom('psychometric', 'SBrel')
importFrom('psychometric', 'SBlength')
## export('isBinary')
export('Binaries')
export('BinariesP')
export('Dicotomics')
export('DicotomicsP')
export('difficultyindex')
export('NIAMenu')
export('SDIMenu')
#export('PsyA2SeMenu')
export('PsyAlphaCIMenu')
export('PsyAlphaMenu')
export('PsyCDIMenu')
export('PsyDIMenu')
export('PsyGuttmanMenu')
export('PsySaturationMenu')
export('PsySBMenu')
export('PsySBReliabilityMenu')
export('PsySBSizeMenu')
export('PsyScoreMenu')

### Statistics
export('randomnessFTest')
export('randomnessNTest')
export('twolevelfactor.runs.test')
export('SampleSizeZMenu')
export('sigmaTest')
export('numeric.runs.test')

